<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Second Express App</title>
    </head>
    <body>
      <form method="POST" action="/names">
        <input type="text" name="name">
        <input type="submit" value="Submit">
      </form>
      <% names.forEach((name) => { %>
        <h3>Hello <%= name %></h3>
      <% }) %>
</body>
</html>
