<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Attendance</title>
    </head>
    <body>
      <form method="POST" action="/names">
        <input type="text" name="name">
        <input type="submit" value="Submit">
      </form>
      <% Student.names.forEach((name) => { %>
      <ul>
        <li><%=  name %>
          <button type ="button" onClick="addOne()" value="addOne" id="push"> Here.</button>
        </li>
      </ul>
      <% }) %>
</body>
</html>
