<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Attendance</title>
    </head>
    <body>
      <form method="POST" action="/names">
        <input type="text" name="name">
        <input type="submit" value="Submit">
      </form>
      <% Student.names.forEach((name) => { %>
      <ul>
        <li><%=  name %>
            <div class="counter-object">
              <script type="text/javascript">
              var clicks = 0;
              function updateClickCount() {
                document.getElementById("button").innerHTML = clicks;
              }
              </script>
              <button type="button" onClick="clicks++;updateClickCount();" id="push">Here.</button>
              <div id="clickCount"></div>
            </div>
        </li>
      </ul>
      <% }) %>
</body>
</html>
